#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	export PATH=$(HOME)/.cargo/bin:$(PATH); unset PKG_CONFIG_SYSROOT_DIR; PKG_CONFIG_ALLOW_CROSS=1 meson setup builddir --prefix=/usr

override_dh_auto_build:
	export PATH=$(HOME)/.cargo/bin:$(PATH); unset PKG_CONFIG_SYSROOT_DIR; PKG_CONFIG_ALLOW_CROSS=1 ninja -C builddir

override_dh_auto_install:
	export PATH=$(HOME)/.cargo/bin:$(PATH); unset PKG_CONFIG_SYSROOT_DIR; PKG_CONFIG_ALLOW_CROSS=1 DESTDIR=$(pwd)/debian/footage ninja -C builddir install

override_dh_auto_clean:
	rm -rf builddir
